@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Bergamasco Regular';
    src: url('../fonts/Bergamasco Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ekaterina Velikaya Two';
    src: url('../fonts/ekaterinavelikayatwo.ttf');
    font-weight: normal;
    font-style: normal;
}
